<div class="container">
  <h1>Employee</h1>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="input-container w25">
      <label for="">Name</label>
      <input formControlName="name" type="text">
    </div>
    <div class="input-container w25">
      <label for="">Salary</label>
      <input formControlName="salary" type="text">
    </div>
    <div class="input-container w25">
      <label for="">Age</label>
      <input formControlName="age" type="text">
    </div>
    <div class="input-container w25">
      <label for="">Image Url</label>
      <input formControlName="imageUrl" type="text">
    </div>
    <div class="button-cotainer">
      <input *ngIf="!creating" [disabled]="!formGroup.valid" type="submit" value="criar">
      <span *ngIf="creating">Creating...</span>
    </div>
  </form>

  <hr>
  <div *ngIf="!fetching && !error && employees" class="emplyee-container">
    <app-employee *ngFor="let e of employees" [employee]="e" (onDelete)="deleteEmployee($event.id)"></app-employee>
  </div>
  <div *ngIf="!fetching && error" class="emplyee-container">
    opss, it seems that an error has ocurred.
  </div>
  <div *ngIf="fetching">
    Loading...
  </div>
</div>